<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route frontName="jadlog_embarcador" id="jadlog_embarcador">
      <module name="Jadlog_Embarcador" before="Magento_Adminhtml"/>
    </route>
  </router>
</config>
